<div class="container">
  <footer class="footer">
    <small>
      Copyright © Victoria Plows using material from  Udemy's <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/learn/v4/overview">The Complete Ruby on Rails Developer' Course</a>
    </small>
  </footer>
</div>